.approachSection{
    height: 100vh;
    display: flex;
    padding: 0 5%;
    align-items: center;
    scroll-snap-align: start;

    .sectionDescription{
        height: 100%;
        width: 45%;
        display: flex;
        margin-left: 20px;
        justify-content: center;
        flex-direction: column;

        text-align: left;
        
        .tinyTitle{
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            opacity: .7;
        }

        .mainTitle{
            font-size: 55px;
            margin: 10px 0;
            font-weight: 400;

            span{
                color: rgb(0, 110, 255);
            }
        }

        .details{
            font-size: 18px;
        }
    }

    .sectionGrid{
        width: 55%;
        margin-left: 10%;
        height: 95%;

        .gridItem{
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            align-items: flex-start;
            border: 1px solid rgba(128, 128, 128, 0.052);
            width: 50%;
            height: 50%;
            max-height: 50%;

            img{
                max-height: 40%;
                width: auto;
            }

            h3{
                margin: 10px 0;
                font-size: 25px;
            }

            p{
                margin: 0
            }
            
        }
    }

}