.header{
    max-height: 100vh;
    position: relative;

    .headerOverlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;;;

        .scrollMessage{
            background: white;
            border-radius: 20px;
            padding: 10px 30px;
            margin: 40px;
        }
    }

    .bgImgHolder{
        height: 100vh;

        img{
            height: 100%;
            width: 100%;
        }
    }
}